name: Build iOS

on: [push, pull_request, workflow_dispatch]

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
    - name: Set Xcode version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.0'

    - name: Install dpkg
      run: brew install dpkg

    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Create Fake Tag
      run: |
        git tag v1.0.0 || true
        git fetch --tags --force

    - name: Install Vulkan SDK
      run: |
        VULKAN_VER="1.3.268.0"
        # Téléchargement avec un lien direct plus fiable
        curl -L "https://sdk.lunarg.com/sdk/download/$VULKAN_VER/mac/vulkansdk-macos-$VULKAN_VER.zip" -o vulkansdk.zip
        unzip -q vulkansdk.zip
        sudo ./InstallVulkan-$VULKAN_VER.app/Contents/MacOS/InstallVulkan-$VULKAN_VER in --al --c com.lunarg.vulkan.ios
        echo "VULKAN_SDK=${HOME}/VulkanSDK/$VULKAN_VER/iOS" >> $GITHUB_ENV

    - name: Generate CMake Project
      run: |
        mkdir build
        cd build
        # On utilise le toolchain iOS inclus dans le projet
        cmake .. -G"Xcode" \
                 -DCMAKE_TOOLCHAIN_FILE=../deps/Dependencies/cmake-ios/ios.cmake \
                 -DTARGET_IOS=ON \
                 -DCMAKE_PREFIX_PATH=$VULKAN_SDK \
                 -DVERSION="1.0.0"

    - name: Build
      run: |
        cd build
        # Compilation pour l'architecture iPhone réelle
        cmake --build . --config Release -- -sdk iphoneos
        # Signature "ad-hoc" pour permettre l'installation via AltStore
        codesign -s "-" Source/ui_ios/Release-iphoneos/Play.app || true

    - name: Generate IPA
      run: |
        # Création de la structure IPA standard
        mkdir -p installer_ios/Payload
        cp -r build/Source/ui_ios/Release-iphoneos/Play.app installer_ios/Payload/
        cd installer_ios
        zip -r Play.ipa Payload

    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: Play_iOS_Final
        path: installer_ios/Play.ipa
